.SigninBox {
  /* background-color: rgb(222, 222, 222); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.SigninTitle {
  color: rgb(58, 58, 58);
}

.SigninEmail {
  color: rgb(58, 58, 58);
}

.SigninPassword {
  color: rgb(58, 58, 58);
}

.SigninAccount {
  color: rgb(58, 58, 58);
}

.inputSignin {
  border: solid 1px black;
}
