.AddressCard {
  border: solid 1px rgb(202, 202, 202);
  width: 300px;
  border-radius: 3px;
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Source Sans 3", sans-serif;
  color: rgb(28, 28, 28);
  background-color: rgb(241, 241, 241);
}

.AddressUserName {
  font-size: 20px;
}
.NoAddressFoundText {
  font-family: "Source Sans 3", sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 30px;
  color: rgb(100, 100, 100);
}
