.ProfileMenuOption {
  border-top: solid 1px rgb(235, 235, 235);
  border-right: solid 1px rgb(235, 235, 235);
  border-left: solid 1px rgb(235, 235, 235);
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
}

.ProfileMenuOption3 {
  border-top: solid 1px rgb(235, 235, 235);
  border-right: solid 1px rgb(235, 235, 235);
  border-left: solid 1px rgb(235, 235, 235);
  border-bottom: solid 1px rgb(235, 235, 235);
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
}

.ProfileMenuOptionLogout {
  border-top: solid 1px rgb(235, 235, 235);
  border-right: solid 1px rgb(235, 235, 235);
  border-left: solid 1px rgb(235, 235, 235);
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
  background-color: rgb(255, 41, 41);
}

.MyProfileTitle {
  font-size: 17px;
  color: rgb(139, 139, 139);
  font-family: "Source Sans 3", sans-serif;
  padding-left: 30px;
}

.MyProfileBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-left: solid 1px rgb(235, 235, 235);
  height: 300px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: "Source Sans 3", sans-serif;
}

.DetailsProfile {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-family: "Source Sans 3", sans-serif;
}

.AddresFormMain {
  width: 350px;
  margin-left: 30px;
  margin-top: 50px;
}

.InputAddressForm {
  background-color: rgb(243, 243, 243);
  font-size: 16px;
  height: 30px;
  font-family: "Source Sans 3", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(30, 30, 30);
}

.InputAddressForm::placeholder {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-family: "Source Sans 3", sans-serif;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ButtonAddressFormSave {
  color: rgb(255, 255, 255);
  border: solid 1px rgb(235, 235, 235);
  background-color: rgb(255, 41, 41);
  font-family: "Source Sans 3", sans-serif;
  width: 50px;
}

.ButtonAddressFormCancel {
  color: rgb(255, 255, 255);
  border: solid 1px rgb(235, 235, 235);
  background-color: rgb(255, 41, 41);
  font-family: "Source Sans 3", sans-serif;
  width: 60px;
}

.AddAdressButton {
  font-family: "Source Sans 3", sans-serif;
  margin-left: 30px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 41, 41);
  width: 120px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.AddIcon {
  height: 30px;
}
