.MainCartPage {
}

.ProductsBlockMain {
  border: solid 1px rgb(231, 231, 231);
  border-radius: 5px;
}

.ProductsPricesBlock {
  height: 50ch;
  border-left: solid 1px rgb(238, 238, 238);
}

.ImageOfCartItem {
  width: 150px;
  height: 200px;
  padding: 15px;
  font-family: "Source Sans 3", sans-serif;
}

.CartItemTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  color: #1e1e1e;
  font-family: "Source Sans 3", sans-serif;
}

.CartItemDescription {
  font-size: 13px;
  padding-top: 2px;
  font-weight: 300;
  color: #1e1e1e;
}

.CartItemDetails {
  padding-top: 30px;
}

.SizeQty {
  height: 20px;
}

.SizeBox {
  height: 20px;
  background-color: rgb(241, 241, 241);
}

.QtyTab {
  background-color: rgb(243, 243, 243);
}

.SizeTab {
  width: 60px;
  font-weight: 600;
  font-size: 14px;
  color: #282c3f;
  font-family: "Source Sans 3", sans-serif;
}

.DropDownSize {
  border: solid 1px rgb(239, 239, 239);
}

.SizeDropDown {
  border: solid 1px rgb(215, 215, 215);
}

.MainPrice {
  font-size: 12px;
  font-weight: 700;
  color: #1e1e1e;
}

.MRPCart {
  font-size: 13px;
  font-weight: 300;
  color: rgb(198, 198, 198);
}

.DiscountCart {
  font-size: 13px;
  font-weight: 400;
  color: rgb(255, 64, 64);
}

.CartPorductInfo {
  font-size: 12px;
  color: #1e1e1e;
}

.CartProductInfoStyle {
  font-weight: 700;
}

.BAGTitle {
  color: rgb(93, 201, 50);
  font-weight: 500;
  font-size: 18px;
  font-family: "Source Sans 3", sans-serif;
}

.BAGSecurity {
  color: #555555;
  font-weight: 600;
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
}
