.MainCartPage {
  height: 100vh;
}

.ProductsBlockMain {
  border: solid 1px rgb(231, 231, 231);
  border-radius: 5px;
}

.ProductsPricesBlock {
  width: 27%;
  height: 50ch;
  border-left: solid 1px rgb(238, 238, 238);
}

.ImageOfCartItem {
  width: 150px;
  height: 200px;
  padding: 15px;
  font-family: "Source Sans 3", sans-serif;
}

.CartItemTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  color: #1e1e1e;
  font-family: "Source Sans 3", sans-serif;
}

.CartItemDescription {
  font-size: 13px;
  padding-top: 2px;
  font-weight: 300;
  color: #1e1e1e;
}

.CartItemDetails {
  padding-top: 30px;
}

.SizeQty {
  height: 20px;
}

.SizeBox {
  height: 20px;
  background-color: rgb(241, 241, 241);
}

.QtyTab {
  background-color: rgb(243, 243, 243);
}

.SizeTab {
  width: 60px;
  font-weight: 600;
  font-size: 14px;
  color: #282c3f;
  font-family: "Source Sans 3", sans-serif;
}

.DropDownSize {
  border: solid 1px rgb(239, 239, 239);
}

.SizeDropDown {
  border: solid 1px rgb(215, 215, 215);
}

.MainPrice {
  font-size: 12px;
  font-weight: 700;
  color: #1e1e1e;
}

.MRPCart {
  font-size: 13px;
  font-weight: 300;
  color: rgb(198, 198, 198);
}

.DiscountCart {
  font-size: 13px;
  font-weight: 400;
  color: rgb(255, 64, 64);
}

.CartPorductInfo {
  font-size: 12px;
  color: #1e1e1e;
}

.CartProductInfoStyle {
  font-weight: 700;
}

.BAGSecurity {
  color: #5f5f5f;
  font-weight: 500;
  font-size: 13px;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.2em;
}

.BAGTitle {
  color: #20bd99;
  font-weight: 600;
  font-size: 12px;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.2em;
}

.BAGAddress {
  color: #5f5f5f;
  font-weight: 500;
  font-size: 12px;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.2em;
}

.BAGPayment {
  color: #5f5f5f;
  font-weight: 500;
  font-size: 12px;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.2em;
}

.TopBarCartPage {
  border-bottom: solid 1px rgb(234, 234, 234);
}

/* Price And Coupons */

.CouponsTitle {
  color: #575757;
  font-weight: 600;
  font-size: 13px;
  font-family: "Source Sans 3", sans-serif;
}

.ApplyCouponsText {
  color: #282828;
  font-weight: 590;
  font-size: 15px;
  font-family: "Source Sans 3", sans-serif;
}

.ApplyCouponText {
  text-align: center;
  width: 70px;
  color: rgb(255, 30, 97);
  font-size: 11px;
  font-weight: 600;
  border: solid 1px rgb(255, 30, 97);
  border-radius: 3px;
}

.CouponDescription {
  display: flex;
  justify-content: center;
  color: #282828;
  font-weight: 350;
  font-size: 14px;
  font-family: "Source Sans 3", sans-serif;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(228, 228, 228);
}

.LoginCoupDesc {
  color: rgb(255, 30, 97);
}
