.NavBarMain {
  width: 100%;
  z-index: 100;
  background-color: white;
}

.NavBarObj {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 650;
  font-size: 17px;
  color: white;
  padding-left: 5%;
}

.inputBoxNavBar::placeholder {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.inputBoxNavBar {
  width: 300px;
  height: 35px;
  font-size: 15px;
  padding-left: 5px;
}

.SearchBox {
  height: 20px;
  width: 100px;
}

.navBarBoundary {
  height: 1px;
}

.searchIcon {
  transform: translateX(-30px);
}

.TextNavbarCategories:hover {
}

.HomeShopIcons {
  width: 20px;
  height: 20px;
}

.HomeTitle {
  color: black;
  font-size: 16px;
}

.logo {
  width: 200px;
}