.NavBarMain {
  width: 100%;
  /* position: fixed; */
  z-index: 100;
}

.NavBarObj {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
    font-weight: 100;
  font-size: 25px;
  padding-left: 5%;
  color: white;
}

.inputBoxNavBar::placeholder {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.inputBoxNavBar {
  width: 300px;
  height: 35px;
  font-size: 15px;
  padding-left: 5px;
}

.SearchBox {
  height: 20px;
  width: 100px;
}
