.TopSellingTitle {
  font-family: "Source Sans 3", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #282c3f;
}

.containerSlider {
  width: 100%;
  padding-top: 64px;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  margin: 0 auto;
}

.slider {
  width: 90rem;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: fill;
  transition: 2s;
}

.slider input {
  display: none;
}

.slider-nav {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.manual-btn {
  border: 1px solid #828282;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: #363636;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

.navigation-auto {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  column-gap: 1.625rem;
}

.navigation-auto div {
  border: 1px solid #bdbdbd;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #363636;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #363636;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #363636;
}

/* .slider-nav a {
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
} */

.MainHome {
  padding: 0px;
  margin: 0px;
}

.Categories {
  font-family: "Source Sans 3", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #282c3f;
}

.CategoryTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90rem;
  width: 97%;
  cursor: pointer;
}

.EachCategoryProp {
  position: absolute;
  margin-top: 1%;
  height: 450px;
  overflow: hidden;
}

.EachImageCategory {
  object-fit: cover;
}

.EachCategoryProp > img {
  width: 100%;
  height: 100%;
  transition: transform 450ms ease-in-out;
}

.EachCategoryProp:hover > img {
  transform: scale(1.15);
}

.CategoriesMainCard {
  width: 32%;
  height: auto;
}

.CategoryNameEachCard {
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 770;
  font-size: 17px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #8a8a8a, 1px -1px 0 #8a8a8a, -1px 1px 0 #000,
    1px 1px 0 #606060;
  text-indent: 1px;
  letter-spacing: 2px;
}

.NewArrivalsTitle {
  font-family: "Source Sans 3", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #282c3f;
}

.NewArrivalsCard {
  height: 400px;
}

.NewArrivalsTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 90rem;
  cursor: pointer;
}

.NewArrivalsMainCard {
  width: 23%;
}

.TopSellingProds {
  max-width: 90rem;
}
