.TopSellingTitle {
  font-family: "Source Sans 3", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #282c3f;
}

.MainHome {
  padding: 0px;
  margin: 0px;
}

.Categories {
  font-family: "Source Sans 3", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #282c3f;
}

.CategoryTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 97%;
  cursor: pointer;
}

.EachCategoryProp {
  margin-top: 1%;
  /* width: 32%; */
  height: 385px;
  overflow: hidden;
}

.EachImageCategory {
  object-fit: cover;
}

.EachCategoryProp > img {
  width: 100%;
  height: 100%;
  transition: transform 450ms ease-in-out;
}

.EachCategoryProp:hover > img {
  transform: scale(1.15);
}

.CategoriesMainCard {
  width: 32%;
}

.CategoryNameEachCard {
  color: white;

  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 770;
  font-size: 17px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #8a8a8a, 1px -1px 0 #8a8a8a, -1px 1px 0 #000,
    1px 1px 0 #606060;
  text-indent: 1px;
  letter-spacing: 2px;
}
