.TopSellingTitle {
    font-family: "Source Sans 3", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #282C3F;
}

.MainHome {
    padding: 0px;
    margin: 0px;
}

.Categories {
    font-family: "Source Sans 3", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #282C3F;
}