.Product_Name {
  font-family: "Source Sans 3", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #454647;
}

.Product_Main_Description {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  color: #6b6767;
}

.Product_Price {
  font-weight: 700;
  font-size: 24px;
  color: rgb(47, 47, 47);
}

.Product_MRP {
  font-size: 18px;
  color: rgb(107, 102, 102);
  text-decoration: line-through;
}

.Product_MRP_Desc {
  font-size: 18px;
  color: rgb(107, 102, 102);
}

.Product_Discount {
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 41, 41);
}

.Product_Size {
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.dot {
  height: 50px;
  width: 50px;
  border: solid 2px rgb(133, 133, 133);
  border-radius: 30%;
  font-size: small;
  font-weight: 200;
  text-align: center;
  align-content: center;
}

.dot:hover {
  border-color: rgb(255, 9, 50);
}

.dot.active {
  border-color: rgb(255, 9, 50);
  color: rgb(255, 9, 50);
}

.Add_To_Card_Button {
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 41, 41);
}

.Add_To_Wishlist_Button {
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  border: solid 1px rgb(133, 133, 133);
}
